html {
  font-family: Arial;
  font-size: 14px;
}

/*  NAV */

#top-nav {
  display: flex;
}

#left-nav {
  align-items: center;
  padding: 20px 20px;
}

#middle-nav {
  align-items: center;
  padding: 7px 20px;
}

#right-nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-between;
  right: 50px;
  padding: 20px 0px;
}

#bottom-middle-nav {
  display: flex;
  color: rgba(0, 0, 0, 0.67);
}

.nav-img {
  padding-right: 7px;
}

#bottom-middle-left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  padding-left: 15px;
}

#bottom-middle-right-nav {
  padding-left: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

#nav {
  border-bottom: 1px solid #e8e8e8;
}

.all {
  color: rgb(26, 115, 232);
}

/* INPUT */
input {
  border: none;
  padding: 5px;
  margin: 10px;
  height: 20px;
  width: 500px;
  border: 1px solid #eaeaea;
  outline: none;
}
input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus {
  border-color: #4d90fe;
}

input[type="text"] {
  border-radius: 20px;
  height: 45px;
  width: 650px;
}

/* ICONS */

img.menu-icon {
  width: 20px;
}

img.user-icon {
  width: 40px;
}
