html {
  font-family: Arial;
  font-size: 14px;
}

/*  BACKGROUND COLORS */

.gris-liviano {
  background-color: #e8e8e8;
}

.gris-fuerte {
  background-color: #a0a0a0;
}

.azul {
  background-color: cornflowerblue;
}

/*  NAV */

#top-nav {
  display: flex;
}

#left-nav {
  align-items: center;
  padding: 20px 20px;
}

#middle-nav {
  align-items: center;
  padding: 7px 20px;
}

#right-nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 25px;
  align-items: center;
  position: absolute;
  right: 20;
  top: 20;
}

#bottom-middle-nav {
  display: flex;
  color: rgba(0, 0, 0, 0.67);
}

.nav-img {
  padding-right: 7px;
}

#bottom-middle-left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  padding-left: 15px;
}

#bottom-middle-right-nav {
  padding-left: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

#nav {
  border-bottom: 1px solid #e8e8e8;
}

.all {
  color: rgb(26, 115, 232);
}

/* INPUT */
input {
  border: none;
  padding: 5px;
  margin: 10px;
  height: 20px;
  width: 500px;
  border: 1px solid #eaeaea;
  outline: none;
}
input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus {
  border-color: #4d90fe;
}

input[type="text"] {
  border-radius: 20px;
  height: 45px;
  width: 650px;
}

/* ICONS */

img.menu-icon {
  width: 20px;
}

img.user-icon {
  width: 40px;
}

/* TEXT */

.soft-text {
  color: #a0a0a0;
}

p {
  margin: 6px 0px 6px 0;
}

.video-description {
  padding: 0px 14px 0px 14px;
}

h2 {
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

/* GRID */

.results-container {
  display: grid;
  grid-template-columns: 53%;
  grid-row-gap: 5px;
  padding-left: 13%;
  padding-top: 15px;
}

.grid-item {
  background-color: #e8e8e8;
}

.result {
  margin-top: 10px;
}

/* RESULTS */

.results-summary {
  background-color: white;
}

/* LINK BOX */

.link {
  background-color: white;
}

.link a {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

.link a:hover {
  color: blue;
  font-size: 20px;
  text-decoration: underline;
}

.video-link a {
  color: blue;
  font-size: 16px;
  text-decoration: none;
}

.video-link a:hover {
  color: blue;
  text-decoration: underline;
}

/* VIDEO BOX */

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 310px;
  grid-column-gap: 8px;
  background-color: white;
}

.video-box {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 40% 20%;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
}

.video-link {
  padding: 14px;
  word-spacing: 3px;
  line-height: 22px;
}

.video-img iframe {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* RELATED SEARCHES */

.list-of-keywords {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
}

.list-link {
  color: blue;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 22px;
}

.list-link:hover {
  text-decoration: underline;
}

/* pagination */

.top-logo img {
  width: 23%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.bottom-nav {
  word-spacing: 5px;
  display: grid;
  grid-template-columns: 65% 35%;
}

.bottom-nav a {
  text-decoration: none;
  color: deepskyblue;
}

.bottom-nav a:hover {
  text-decoration: underline;
}

.link-izq {
  padding-left: 250px;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 15px;
  padding-top: 3%;
  position: absolute;
  left: 0;
  right: 0;
}

.footer-top {
  height: 40px;
  padding-left: 13%;
  display: grid;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
}

.footer-top a {
  color: #a0a0a0;
  text-decoration: none;
}

.footer-top a:hover {
  color: black;
}

.footer-bottom {
  display: grid;
  height: 40px;
  padding-left: 13%;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  grid-column-gap: 23px;
}

.footer-bottom a {
  color: #a0a0a0;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: black;
}
